.div{
    width: 500px;
    height: 300px;
}


.aa1 {
    background-color: white;
    color: black;
    border: 2px solid #DEB887;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 500px;
    margin-left:300px;
    margin-top:100px;
}

.aa {
    background-color: white;
    color: black;
    border: 2px solid #DEB887;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    width: 500px;
    margin-left:300px;
    margin-top:30px;
}
  